head {
  font-size: large;
  text-align: center;
  background-color: aqua;
  padding: 10.5px;
}
header {
  background-color: blueviolet;
  padding: 7.5px;
  border-radius: 7px;
  position: relative;
  width: 100%;
  font-family: sans;
  font-size: 100%;
  text-align: center;
}
h2{
  font-family: sans-serif;

}
footer{
    text-align: center;
    background-color: rgb(211, 211, 216);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 300px;
  }
ul{
  font-family: sans-serif;
  font-size: medium;
  font-display: 100%;
  height: auto;
}
img{
  border-radius: 5px;
  border-style: groove;
  border-color: rgb(233, 255, 205);
  float: right;
  position: relative;
  bottom: 90px;
}
html{
  background-color: darkkhaki;
  height: 100px;
  size: 0 auto;
}